@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Now Display', Helvetica, Arial, sans-serif;
  color:#fff;
  scrollbar-width: none;
}

::-webkit-scrollbar{
  display: none;
}
